.B-expenses {
  color: rgb(89, 255, 0);
}

.B-exp {
  color: rgb(224, 121, 53);
}

.expenses {
  color: #ff0000;
}

tr,
th {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

table {
  width: 200%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 2px solid #e5e5cb;
  padding: 20px;
}

input[type="text"] {
  background-color: #fff;
  margin-bottom: 10px;
  color: #000000;
  

}

